* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.img {
    width: 370px;
    height: 354px;
    margin-top: 30px;
    padding: 0px;
}

.aside {
    width: 370px;
    height: 1500px;
    background-color: #1e2939;
    color: #ffffff;
}

.about-me {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.main-div {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 57px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #8e949c;
}

.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 10px;
    margin-left: 40px;
}

.tech-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 17px;
    margin-left: 40px;
    margin-top: 54px;
}

.tech-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 15px;
    color: #e4630e;
    margin-left: 40px;
}

.tech-skills-text {
    color: #fff;
}

.soft-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 17px;
    margin-left: 40px;
    margin-top: 52px;
}

.soft-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 15px;
    color: #e4630e;
    margin-left: 40px;
}

.soft-skills-text {
    color: #fff;
}

.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 23px;
}

.my-name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
    padding-bottom: 23px;
}

.main-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}

.info {
    margin-bottom: 65px;
}

.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.project-link {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.tech-name {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.dots {
    color: #595959;
    font-weight: 100;
}

.projects-item {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 17px;
}

.project-block {
    margin-bottom: 55px;
}

.profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.profession-company {
    color: #ff6b08;
}

.time-and-country {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #a8a8a8;
}

.profession-divider {
    color: #000;
}

.profession-duties {
    margin-top: 15px;
    margin-bottom: 30px;
}

.profession-duties-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}

.education-text {
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.management {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}